@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
html {
  font-size: 16px;
  font-family: "SF-Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #ffffff;
  background-color: #000000;
}
@media (max-width: 768px) {
  body.hidden {
    overflow: hidden;
  }
}

a,
button,
input,
textarea {
  font-family: "SF-Pro", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 0 0 60px;
}
@media (max-width: 768px) {
  .heading {
    margin-bottom: 40px;
  }
}
.heading__id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 30px;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 540;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #000;
  background-color: #16e231;
}
@media (max-width: 768px) {
  .heading__id {
    min-width: 20px;
    padding: 3px 7px;
    font-size: 10px;
  }
}
.heading__title {
  margin: 0;
  font-weight: 650;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: #16e231;
}
@media (max-width: 768px) {
  .heading__title {
    font-size: 16x;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 32px 0;
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
.header:before {
  -webkit-transition: backdrop-filter ease-out 0.2s;
  transition: backdrop-filter ease-out 0.2s;
  will-change: backdrop-filter;
}
.header.blur::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}
.header__wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
@media (max-width: 768px) {
  .header__main {
    position: relative;
    z-index: 9999;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.header__logo {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__logo-link-icon {
  display: block;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.header__logo-link-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
}
.header__burger {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__burger-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 32px;
  padding: 0;
  aspect-ratio: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 32px;
  background-color: #a83efc;
  cursor: pointer;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  border-radius: 10px;
  background-color: #d2e4ff;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  will-change: transform;
}
.header__burger-button::before {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.header__burger-button::after {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.header__burger-button.active::before {
  -webkit-transform: translateY(1px) rotate(45deg);
          transform: translateY(1px) rotate(45deg);
}
.header__burger-button.active::after {
  -webkit-transform: translateY(-1px) rotate(-45deg);
          transform: translateY(-1px) rotate(-45deg);
}
.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    inset: 0;
    z-index: 999;
    max-width: 100dvw;
    margin: 0;
    padding: 78px 20px 20px;
    background-color: #000000;
    -webkit-transform: translateX(120dvw);
            transform: translateX(120dvw);
    -webkit-transition: -webkit-transform ease-in-out 0.2s;
    transition: -webkit-transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s;
    transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
    will-change: transform;
  }
}
.header__menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (max-width: 768px) {
  .header__menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    max-height: calc(100dvh - 78px - 20px);
    height: 100%;
    overflow: auto;
  }
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .header__nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    padding: 0;
  }
}
.header__nav-link {
  display: inline-block;
  padding: 0px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 540;
  font-size: 16px;
  line-height: 110%;
  text-transform: uppercase;
  color: #f0f3f2;
  -webkit-transition: color ease-out 0.2s;
  transition: color ease-out 0.2s;
}
@media (max-width: 768px) {
  .header__nav-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 540;
    font-size: 20px;
    line-height: 98%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(167deg, #ffffff 0%, rgba(255, 255, 255, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.header__nav-link:hover {
  color: #a83efc;
}
.header__info {
  display: none;
}
@media (max-width: 768px) {
  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    gap: 12px;
  }
}
.header__info-docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 0;
}
.header__info-docs-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.header__info-docs-link:hover {
  color: #a83efc;
}
.header__info-docs-link:first-child {
  text-align: left;
}
.header__info-docs-link:last-child {
  text-align: right;
}
.header__info-docs-icon {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.header__info-copyright, .header__info-disclaimer {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}

.how-it-works__wrapper {
  display: block;
}
.one-click {
  padding: 190px 0 370px;
  background: url(../assets/wave.svg) center no-repeat;
  background-size: auto calc(100% - 200px);
}
@media (max-width: 768px) {
  .one-click {
    padding: 175px 0 164px;
    background-size: auto calc(100% - 150px);
  }
}
.one-click__title {
  max-width: 688px;
  margin: 0 auto 60px;
  font-weight: 540;
  font-size: 80px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(167deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 768px) {
  .one-click__title {
    max-width: 330px;
    margin: 0 auto 40px;
    font-size: 32px;
  }
}
.one-click__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.one-click__download-button {
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-transition: background-color ease-out 0.2s;
  transition: background-color ease-out 0.2s;
  cursor: pointer;
}
@media (max-width: 768px) {
  .one-click__download-button {
    padding: 7px 10px;
  }
}
.one-click__download-button:hover {
  background-color: #a83efc;
}
.one-click__download-button::before {
  content: "";
  display: block;
  width: 133px;
  aspect-ratio: 130/33;
  background: url(../assets/appstore.svg) center/cover no-repeat;
  -webkit-transition: -webkit-filter ease-out 0.2s;
  transition: -webkit-filter ease-out 0.2s;
  transition: filter ease-out 0.2s;
  transition: filter ease-out 0.2s, -webkit-filter ease-out 0.2s;
}
@media (max-width: 768px) {
  .one-click__download-button::before {
    width: 110px;
  }
}
.one-click__download-button:hover::before {
  -webkit-filter: brightness(0%) invert(100%);
          filter: brightness(0%) invert(100%);
}

.footer {
  padding: 20px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}
.footer__info-copyright, .footer__info-disclaimer {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  .footer__info-copyright, .footer__info-disclaimer {
    font-size: 12px;
  }
}
.footer__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px 22px;
}
.footer__docs-link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.footer__docs-link:hover {
  color: white;
}