$gradientViolet: rgba(
  $color: #ad47ff,
  $alpha: 0.5,
);

.first-screen {
  position: relative;
  padding: 65px 0 0;
  background: radial-gradient(62% 58% at 27% -25%, $gradientViolet 13%, rgba(0, 0, 0, 0) 100%),
    // radial-gradient(89% 124% at 114% 24%, $gradientViolet 13%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(115% 136% at -101% 44%, $gradientViolet 0%, rgba(173, 71, 255, 0) 100%),
    radial-gradient(241% 84% at -35% 0%, $gradientViolet 0%, rgba(173, 71, 255, 0) 100%);

  @include tablet {
    padding-top: 95px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: block;
    width: 350px;
    background: radial-gradient(43.09% 88.68% at 0% 49.91%, #34164d 0%, rgba(52, 22, 77, 0) 100%);
    opacity: 0.5;

    @include tablet {
      display: none;
    }
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transform: rotate(180deg);
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: block;
    background: url(../assets/wave.svg) center bottom 40px no-repeat;
    background-size: auto calc(100% - 370px);

    @include tablet {
      padding: 175px 0 164px;
      background-size: auto calc(100% - 320px);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    max-width: 480px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 32px;
    font-weight: 540;
    font-size: 50px;
    line-height: 98%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(167deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      margin-bottom: 16px;
      font-size: 32px;
    }
  }

  &__description {
    margin: 0 0 32px;
    font-weight: 650;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(168deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      margin-bottom: 40px;
      font-size: 16px;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 60px;

    @include tablet {
      margin-bottom: 64px;
    }

    &-button {
      display: inline-block;
      padding: 8px 12px;
      border: none;
      border-radius: 8px;
      background-color: #ffffff;
      transition: background-color ease-out 0.2s;
      cursor: pointer;

      @include tablet {
        padding: 7px 10px;
      }

      &:hover {
        background-color: #a83efc;
      }

      &::before {
        content: '';
        display: block;
        width: 133px;
        aspect-ratio: 130/ 33;
        background: url(../assets/appstore.svg) center / cover no-repeat;
        transition: filter ease-out 0.2s;

        @include tablet {
          width: 110px;
        }
      }

      &:hover::before {
        filter: brightness(0%) invert(100%);
      }
    }
  }

  &__phone {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 498px;
    margin: 0;
    overflow: hidden;

    @include tablet {
      max-height: 346px;
    }

    &-image {
      display: block;
      max-width: 100%;
      width: 340px;
      height: auto;

      @include tablet {
        width: 262px;
      }
    }
  }
}
