.faq {
  padding: 100px 0;

  @include tablet {
    padding: 60px 0;
  }

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0 0 60px;

    @include laptop {
      gap: 24px;
    }

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 calc(100% / 3 - 40px / 3 * 2);
    gap: 24px;
    min-height: 400px;
    padding: 24px;
    box-sizing: border-box;
    background: linear-gradient(169deg, rgba(129, 149, 132, 0.2) 0%, rgba(56, 70, 58, 0.2) 100%);

    @include laptop {
      flex: 0 0 calc(100% / 2 - 24px / 2);
    }

    @include tablet {
      flex: 1 1 100%;
      min-height: 335px;
      padding: 20px;
    }

    &-question {
      font-weight: 540;
      font-size: 32px;
      line-height: 98%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      background: linear-gradient(167deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include tablet {
        font-size: 20px;
      }
    }

    &-answer {
      font-weight: 400;
      font-size: 20px;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: #fff;

      @include tablet {
        font-size: 16px;
      }
    }
  }

  &__help {
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      display: inline-block;
      max-width: 270px;
      width: 100%;
      padding: 17px 24px;
      box-sizing: border-box;
      font-weight: 540;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      text-align: center;
      color: #16e231;
      border: none;
      border-radius: 64px;
      background: linear-gradient(169deg, rgba(129, 149, 132, 0.2) 0%, rgba(56, 70, 58, 0.2) 100%);
      cursor: pointer;
    }
  }
}
