.how-it-works {
  padding: 140px 0;

  @include tablet {
    padding: 60px 0;
  }

  &__wrapper {
    display: block;
  }

  &__title {

  }

  &__steps {

  }

  &__step {

  }

  &__figure {

  }
}
