.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 32px 0;

  @include tablet {
    padding: 20px 0;
  }

  &:before {
    transition: backdrop-filter ease-out 0.2s;
    will-change: backdrop-filter;
  }

  &.blur::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 0;
    backdrop-filter: blur(4px);
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @include tablet {
      position: relative;
      z-index: 9999;
      flex: 1 1 100%;
    }
  }

  &__logo {
    display: block;
    flex: 0 0 auto;
    width: fit-content;

    &-link {
      display: flex;
      align-items: center;
      gap: 10px;

      &-icon {
        display: block;
        max-width: 100%;
        width: 24px;
        height: auto;
      }

      &-text {
        font-weight: 500;
        font-size: 13px;
        line-height: 140%;
        color: #ffffff;
      }
    }
  }

  &__burger {
    display: none;
    flex: 0 0 auto;

    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 32px;
      padding: 0;
      aspect-ratio: 1;
      box-sizing: border-box;
      border: none;
      border-radius: 32px;
      background-color: rgba($color: #a83efc, $alpha: 1);
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        display: block;
        width: 18px;
        height: 2px;
        border-radius: 10px;
        background-color: #d2e4ff;
        transition: transform ease-in-out 0.2s;
        will-change: transform;
      }

      &::before {
        transform: translateY(4px);
      }

      &::after {
        transform: translateY(-4px);
      }

      &.active::before {
        transform: translateY(1px) rotate(45deg);
      }

      &.active::after {
        transform: translateY(-1px) rotate(-45deg);
      }
    }
  }

  &__menu {
    flex: 0 1 auto;
    margin: 0;
    box-sizing: border-box;

    @include tablet {
      position: fixed;
      inset: 0;
      z-index: 999;
      max-width: 100dvw;
      margin: 0;
      padding: 78px 20px 20px;
      background-color: #000000;
      transform: translateX(120dvw);
      transition: transform ease-in-out 0.2s;
      will-change: transform;
    }

    &.active {
      transform: translateX(0);
    }

    &-wrapper {
      @include tablet {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-height: calc(100dvh - 78px - 20px);
        height: 100%;
        overflow: auto;
      }
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    @include tablet {
      align-items: center;
      flex: 1 1 auto;
      flex-direction: column;
      gap: 20px;
      padding: 0;
    }

    &-link {
      display: inline-block;
      padding: 0px 4px;
      box-sizing: border-box;
      font-weight: 540;
      font-size: 16px;
      line-height: 110%;
      text-transform: uppercase;
      color: #f0f3f2;
      transition: color ease-out 0.2s;

      @include tablet {
        width: fit-content;
        font-weight: 540;
        font-size: 20px;
        line-height: 98%;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        text-align: center;
        background: linear-gradient(167deg, #ffffff 0%, rgba(255, 255, 255, 0.9) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        color: #a83efc;
      }
    }
  }

  &__info {
    display: none;

    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 0 0 auto;
      gap: 12px;
    }

    &-docs {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0;

      &-link {
        flex: 0 1 auto;
        font-weight: 400;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: rgba($color: #ffffff, $alpha: 0.5);

        &:hover {
          color: #a83efc;
        }

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }
      }

      &-icon {
        display: block;
        flex: 0 0 auto;
        max-width: 100%;
        width: 24px;
        height: auto;
      }
    }

    &-copyright,
    &-disclaimer {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}
