.one-click {
  padding: 190px 0 370px;

  @include tablet {
    padding: 175px 0 164px;
  }

  &__title {
    max-width: 688px;
    margin: 0 auto 60px;
    font-weight: 540;
    font-size: 80px;
    line-height: 98%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(167deg, #fff 0%, rgba(255, 255, 255, 0.9) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablet {
      max-width: 330px;
      margin: 0 auto 40px;
      font-size: 32px;
    }
  }

  &__download {
    display: flex;
    align-items: center;
    justify-content: center;

    &-button {
      display: inline-block;
      padding: 8px 12px;
      border: none;
      border-radius: 8px;
      background-color: #ffffff;
      transition: background-color ease-out 0.2s;
      cursor: pointer;

      @include tablet {
        padding: 7px 10px;
      }

      &:hover {
        background-color: #a83efc;
      }

      &::before {
        content: '';
        display: block;
        width: 133px;
        aspect-ratio: 130/ 33;
        background: url(../assets/appstore.svg) center / cover no-repeat;
        transition: filter ease-out 0.2s;

        @include tablet {
          width: 110px;
        }
      }

       &:hover::before  {
        filter: brightness(0%) invert(100%);
      }
    }
  }
}
