.why-us {
  &__wrapper {
  }

  &__card {
    &_speed {
    }

    &_protocols {
    }

    &_privacy {
    }

    &_setup {
    }

    &-figure {
    }

    &-title {
    }

    &-text {
    }
  }

  &__title {
  }
}
