.why-us {
  padding: 140px 0;

  @include tablet {
    padding: 60px 0;
  }

  &__wrapper {
    display: block;
  }

  &__title {
    position: relative;
    max-width: 790px;
    margin: 0 auto 32px;
    padding: 0 0 64px;
    font-weight: 540;
    font-size: 50px;
    line-height: 98%;
    color: #ffffff;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;

    @include tablet {
      margin-bottom: 40px;
      padding-bottom: 44px;
      font-size: 32px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 54px;
      right: 54px;
      bottom: 0;
      display: block;
      height: 3px;
      background: linear-gradient(90deg, #c680ff 0%, #fff 100%);

      @include tablet {
        left: 84px;
        right: 84px;
      }
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 32px 24px;
    max-width: 1160px;
    margin: 0 auto;

    @include tablet {
      flex-wrap: wrap;
    }
  }

  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 1 245px;
    gap: 16px;

    @include tablet {
      flex: 1 1 100%;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      margin: 0;
      border-radius: 100px;
      background: linear-gradient(169deg, rgba(129, 149, 132, 0.2) 0%, rgba(56, 70, 58, 0.2) 100%);

      &-image {
        display: block;
        max-width: 100%;
        width: 28px;
        height: auto;
      }
    }

    &-title {
      font-weight: 540;
      font-size: 32px;
      line-height: 98%;
      color: #ffffff;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      text-align: center;

      @include tablet {
        max-width: 234px;
      }
    }

    &-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 125%;
      letter-spacing: 0.02em;
      text-align: center;
      color: rgba($color: #ffffff, $alpha: 0.5);
    }
  }
}
