.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 0 0 60px;

  @include tablet {
    margin-bottom: 40px;
  }

  &__id {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    padding: 4px 8px;
    box-sizing: border-box;
    font-weight: 540;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000;
    background-color: #16e231;

    @include tablet {
      min-width: 20px;
      padding: 3px 7px;
      font-size: 10px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 650;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #16e231;

    @include tablet {
      font-size: 16x;
    }
  }
}
